node-red_dir/flows.json
[
    {
        "id": "ca2df82ea7bbc82b",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "357c66447b2fa80b",
        "type": "http in",
        "z": "ca2df82ea7bbc82b",
        "name": "",
        "url": "/api1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c6028d3ea1bc4d91"
            ]
        ]
    },
    {
        "id": "9f1b50a74ca8a564",
        "type": "http response",
        "z": "ca2df82ea7bbc82b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "c6028d3ea1bc4d91",
        "type": "change",
        "z": "ca2df82ea7bbc82b",
        "name": "タイムスタンプ",
        "rules": [
            {
                "t": "set",
                "p": "payload.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "9f1b50a74ca8a564"
            ]
        ]
    }
]